<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<h1>th:replace starts</h1>
<footer th:replace="/fragElements::names"></footer>
<h1>th:replace ends</h1>
<h2>-------------------------</h2>

<h1>th:include starts</h1>
<footer th:include="/fragElements::names"></footer>
<h1>th:include ends</h1>
<h2>-------------------------</h2>
<h1>th:insert starts</h1>
<footer th:insert="/fragElements::names"></footer>
<h1>th:insert ends</h1>
</head>
<body>

</body>
</html>